#head-title h3{
    color: #082943;
    font-size: x-large;
    font-weight: bolder;
    padding: 30px 15px 20px 0px;
    margin-left: 30px;
}
#listPanel{
    display: flex;
    flex-direction: column;
    
}
.item{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 10px 30px 10px 30px;
    justify-content: space-between;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 20%;
}
.name{
    padding-left: 10px;
    color: #082943;
    font-weight: bold;
     
}
.btn-f-back{
    background-color: transparent;
    border: 1px solid #082943;
    width: 25%;
    border-radius: 6px;
    height: 30px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
}
.profile{
    display: flex;

}
.profile p {
    margin: auto;
    margin-left: 8px;
}