<div class="container">
    <div class="background"></div>
        <!-- Content of the page -->
        <div class="content">
          <div id="head-title">
              <h3>Notifications Center</h3>
          </div>
          <div id="listPanel">
              <div class="item">
                  <span class="profile">
                      <img class="avatar" src="http://placekitten.com/g/160/160" alt="" srcset="">
                      <p><span class="name">John Doe</span> followed you</p>
                  </span>
                  <button class="btn-f-back"><span class="typcn typcn-plus"></span></button>
              </div>
          </div>
      </div>
    </div>