<div class="container">
    <div class="background"></div>
    <div class="content">
        <!-- Content of the page -->
        <!-- Add Pull hook -->
        <div class="background"></div>
        <div class="content">
          <div id="head-title">
              <h3>Notifications Center</h3>
          </div>
          <div id="listPanel">
              <div class="item">
                  <img class="avatar" src="http://placekitten.com/g/160/160" alt="" srcset="">
                  <p><span class="name">John Doe</span> followed you</p>
                  <button class="btn-f-back"><span><!--TODO: Add Icon--></span></button>
              </div>
          </div>
        </div>
      </div>
    </div>