<div class="container">
    <div class="background"></div>
        <!-- Content of the page -->
        <div class="content">
          <div class="head-title">
              <h3>Notifications</h3>
          </div>
          <div id="listPanel">
              <div class="item">
                  <span class="profile">
                      <img class="avatar" src="http://placekitten.com/g/160/160" alt="" srcset="">
                      <p><span class="name">John Doe</span> followed you</p>
                  </span>
                  <button [type]="'primary'" class="btn-f-back ripple"><span>follow</span></button>
              </div>
              <div class="item">
                    <span class="profile">
                        <img class="avatar" src="http://placekitten.com/g/160/160" alt="" srcset="">
                        <p><span class="name">John Doe</span> followed you</p>
                    </span>
                    <button class="btn-f-back ripple"><span>follow</span></button>
                </div>
                <div class="item">
                        <span class="profile">
                            <img class="avatar" src="http://placekitten.com/g/160/160" alt="" srcset="">
                            <p><span class="name">John Doe</span> followed you</p>
                        </span>
                        <button [type]="'primary'" class="btn-f-back ripple"><span>follow</span></button>
                    </div>
          </div>
      </div>
    </div>