<ons-page>
  <div class="background"></div>
  <!-- Background of the page -->
  <div class="content">
    <!-- Content of the page -->
    <ons-toolbar>
      <div class="center">
        <ons-search-input id="text" placeholder="Type here" [(value)]="target"></ons-search-input>
      </div>
    </ons-toolbar>
    <div class="background"></div>
    <div class="content" class="initial-page">
      <div style="text-align: center; margin: 10px">
        <p>This is the first page.</p>
      </div>
    </div>
  </div>
</ons-page>
