<ons-page>
  <div class="background"></div>
  <!-- Background of the page -->
  <div class="content">
    <!-- Content of the page -->
    <ons-toolbar>
      <div class="center search head">
        <ons-search-input
          id="text"
          placeholder="Look for anyone"
          [(value)]="target"
        ></ons-search-input>
      </div>
    </ons-toolbar>
    <div></div>
    <div class="content">
      <div class="intro " style="margin-top: 45px; text-align: center">
      </div>
      <ons-list>
        <ons-list-header style="text-align: center;">Explore</ons-list-header>
        <ons-list-item expandable>
          <p>See what's going on in other campuses</p>
          <div class="expandable-content">
              <ons-list-item tappable>Bells University</ons-list-item>
              <!-- Add number of interactions beside -->
          </div>
        </ons-list-item>
      </ons-list>
    </div>
  </div>
</ons-page>
