<div class="card">
  <div class="profile">
    <img
      class="profile-thumbnail"
      [src]="post.avatar"
      style="width: 10%"
    />
    <div class="name">
      <h3>{{post.name}}</h3> <span ><h5 style="color: blue">{{post.userTag}}</h5></span>
    </div>
  </div>

  <div class="content">
    <div id="content-box">
      <div class="post">
          <p>{{post.post}}</p>
      </div>
      <div id="interaction-box">
            <!-- Add ngStyle for this -->
            <div id="thumbs">
                <span class="typcn typcn-thumbs-up ripple left">  

                </span>
                <span class="typcn typcn-thumbs-down ripple right">

                </span>
            </div>
            <div class="trash">
                <span class="typcn typcn-trash ripple"> 

                </span> <!--TODO: Create Bages-->
            </div>
          <!-- <div id="comment"></div> -->
        </div>
    </div>
  </div>
</div>
