<div class="card">
  <div class="profile">
    <img
      class="profile-thumbnail"
      [src]="post.author.userProfile.avatar"
      style="width: 10%"
    />

    <div class="name">
      <h4 [routerLink]="[ '/profile', post.author._id ]">{{post.author.name}}</h4> <span ><h5 style="color: blue">{{post.author.userProfile.userTag}}</h5></span>
    </div>
  </div>

  <div class="content">
    <div id="content-box">
      <div class="post">
          <p>{{post.post}}</p>
      </div>
      <div class="player" *ngIf="post.videoSrc">
        <div plyr  [plyrPlaysInline]="true" [plyrSources]="videoSources" (plyrInit)="player = $event" (plyrPlay)="played($event)"></div>
      </div>
      <div id="interaction-box">
            <!-- Add ngStyle for this -->
            <div id="thumbs">
                <span class="typcn typcn-thumbs-up ripple left">  
                  <span class="badge">30</span>
                </span>
                <span class="typcn typcn-thumbs-down ripple right">
                    <span class="badge">10</span>
                </span>
            </div>
            <div class="trash">
                <span class="typcn typcn-trash ripple"> 

                </span> <!--TODO: Create Bages-->
            </div>
          <!-- <div id="comment"></div> -->
        </div>
    </div>
  </div>
</div>
