<ons-card class="card">
  <div class="profile">
    <img
      class="profile-thumbnail"
      src="https://monaca.io/img/logos/download_image_onsenui_01.png"
      alt="Onsen UI"
      style="width: 10%"
    />
    <div class="name">
      John Doe<span style="color: blue">@Doe</span>
    </div>
  </div>

  <div class="content">
    <div id="content-box">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione quasi amet voluptatum, architecto, beatae inventore aperiam modi dicta doloremque voluptas facere harum reprehenderit fugit suscipit non, ducimus cum tenetur voluptate?</p>
    </div>
    <div id="interaction-box">
      <div id="like">
        <!-- Add ngStyle for this -->
        <ons-icon icon="fa-heart"></ons-icon>
      </div>
      <!-- <div id="comment"></div> -->
    </div>
  </div>
</ons-card>
