<ons-toolbar>
  <div class="left"><ons-back-button [routerLink]="[ '.main']"></ons-back-button></div>
  <div class="center">Page2</div>
</ons-toolbar>
<div class="content">
  <div id="postBox">
    <textarea
      class="textarea"
      rows="5"
      cols="40"
      placeholder="Any Gist ?"
    ></textarea>
  </div>
  <div id="media-box">
    <ons-icon icon="fa-camera" size="25px"> <ons-ripple></ons-ripple></ons-icon>
    <ons-icon icon="fa-image" size="25px"><ons-ripple></ons-ripple></ons-icon>
  </div>
  <div id="control-box">
    <div id="anon">
        <p class="label">Post Anonnymously</p>
        <ons-switch class="switch" [value]="target" (change)="target = $event.target.checked"></ons-switch>
    </div>
    <ons-button class="btn-post" (click)="onClick()" modifier="outline">Post</ons-button>
  </div>
</div>
