#postBox{
    display: flex;
    flex-direction: column;
    margin-top: 75px !important;
}
#textarea{
    width: 90%;
    background-color: white;
    align-self: center !important;
    resize: none;
    height: 150px;
    border-radius: 20px;
    padding: 10px;
}
#media-box{
    padding: 15px 45px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#control-box{
    display: flex;
    flex-direction: column;
}
.switch{
    margin-bottom: 15px;
    margin-right: 45px;
}
.btn-post{
    width: 75%;
    margin: auto;
    text-align: center;
}
#anon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.label{
    margin-left: 12px;
    margin-top: 5px;
    font-weight: bold;
}
#switch{
    padding-right: 10px;
}
.typcn{
    font-size: 24px;
}
#btn-post{
    width: 90%;
    margin: auto;
    margin-top: 22px;
}
/* TODO: Add a nie font */