<ons-tabbar swipeable animation="none" position="auto" (swipe)="onSwipe($event)">
  <div class="tabbar__content"></div>
  <div class="tabbar">
    <ons-tab [page]="home"><ons-icon icon="fa-home"></ons-icon></ons-tab>
    <ons-tab [page]="explore"><ons-icon icon="fa-search"></ons-icon></ons-tab>
    <ons-tab [page]="notifications"><ons-icon icon="fa-bell"></ons-icon></ons-tab>
    <ons-tab [page]="profile"><img style="height: 35px; width: 35px" class="profile-thumbnail" src="http://placekitten.com/g/70/70"></ons-tab>
  </div>
</ons-tabbar>
