.profile-thumbnail {
    border-radius: 50%;
    height: 20px;
    margin-top: 5px;
    width: 20px;
    margin-right: 45px;
  }
.tabbar{
  border-top-width: 1px;
}
:checked + .tabbar__button {
  color: #082943 !important;
}
Tabs{
  height: 100%;
}