<Tabs
[page]="4"
[activeTab]="index"
[tabBarPosition]="'bottom'"
(onChange)="onChange($event)"
(onTabClick)="onTabClick($event)"
>
<TabPane [title]="home">
    <ng-template #home>
      <span class="typcn typcn-home-outline"></span>
    </ng-template>
    
    <app-home></app-home>
</TabPane>
<TabPane [title]="explore">
  <ng-template #explore>
    <span class="typcn typcn-zoom-outline"></span>
  </ng-template>
  
  <app-explore></app-explore>
</TabPane>
<TabPane [title]="notification">
  <ng-template #notification>
    <span class="typcn typcn-bell"></span>
  </ng-template>
  
  <app-notification></app-notification>
</TabPane>
<TabPane [title]="profile">
  <ng-template #profile>
        <img class="avatar" src="http://placekitten.com/g/60/60" alt="" srcset="">
    </ng-template>
      <app-profile></app-profile>
  </TabPane>
</Tabs>