<Tabs
[page]="4"
[activeTab]="index"
[tabBarPosition]="'bottom'"
(onChange)="onChange($event)"
(onTabClick)="onTabClick($event)"
>
<TabPane [title]="'Home'">
  <div
    style="display: flex; height: 150px; width: 100%; background-color: white;align-items: center;justify-content: center;"
  >
    Content of first tab
  </div>
</TabPane>
<TabPane [title]="'Explore'">
  <div
    style="display: flex; height: 150px; width: 100%; background-color: white;align-items: center;justify-content: center;"
  >
    Content of second tab
  </div>
</TabPane>
<TabPane [title]="'Notification'">
  <div
    style="display: flex; height: 150px; width: 100%; background-color: white;align-items: center;justify-content: center;"
  >
    Content of third tab
  </div>
</TabPane>
<TabPane [title]="'Profile'">
    <div
      style="display: flex; height: 150px; width: 100%; background-color: white;align-items: center;justify-content: center;"
    >
      Content of third tab
    </div>
  </TabPane>
</Tabs>