<!-- SVG -->
<form class="form" #form="ngForm">
    <h3>Sign Up</h3>
  <div class="wrapper">
    <div class="question">
      <input type="text" required />
      <label>Name</label>
    </div>
    <div class="question">
      <input type="text" required />
      <label>Email</label>
    </div>
    <div class="question">
      <input type="text" required />
      <label>Password</label>
    </div>
    <div class="question">
      <input type="text" required />
      <label>UserTag E.g: @RealMe</label>
    </div>
    <div class="question">
      <input type="text" required />
      <label>University</label>
    </div>
  </div>

  <div class="chks">
        <label class="container">Male
                <input type="checkbox">
                <span class="checkmark"></span>
        </label>
        <label class="container">Female
                <input type="checkbox">
                <span class="checkmark"></span>
        </label>
  </div>
  <button type="submit">Submit</button>
</form>
