h1, h2, h3, h4, h5{
    color: #082943;
}

h3{
  font-size: 24px;
}
.form{
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  align-items: center;
}
.wrapper{
    width: 80%;
}

.transition, form button, form .question label, form .question input[type="text"] {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  }
  
  * {
    font-family: Helvetica, sans-serif;
    font-weight: light;
    -webkit-font-smoothing: antialiased;
  }
  
  html {
    background-color: #082943;
  }
  
  /* form {
    position: relative;
    display: inline-block;
    max-width: 700px;
    min-width: 500px;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    border-radius: 40px;
    margin: 40px 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  } */
  form h1 {
    color: #082943;
    font-weight: 100;
    letter-spacing: 0.01em;
    margin-left: 15px;
    margin-bottom: 35px;
    text-transform: uppercase;
  }
  form button {
    margin-top: 0;
    margin-bottom: 25px;
    border: 2px solid white;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 8px;
    color: #082943;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    outline: none;
    width: 75%;
    color: white;
    background-color: #082943
  }
  form button:hover, form button:focus {
    color: white;
    background-color: #082943;
  }
  form .question {
    position: relative;
    padding: 10px 0;
  }
  form .question:first-of-type {
    padding-top: 0;
  }
  form .question:last-of-type {
    padding-bottom: 0;
  }
  form .question label {
    transform-origin: left center;
    color: #082943;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
  }
  form .question input[type="text"] {
    appearance: none;
    background-color: none;
    border: 1px solid #082943;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: #082943;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
  }
  form .question input[type="text"]:focus {
    outline: none;
    background: #082943;
    color: white;
    margin-top: 30px;
  }
  form .question input[type="text"]:valid {
    margin-top: 30px;
  }
  form .question input[type="text"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
  }
  form .question input[type="text"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
  }

  /* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 40px;
    margin-left: 40px;
    
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 25px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #082943;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .chks{
      /* margin-top: 25px; */
      margin-bottom: 25px;
      display: flex;
      flex-direction: row;
  }
  p {
    font-size: 16px;
  }
  #university{
    margin: 25px 0px 25px 0px;
    /* width: 150px; */
    padding: 10px 35px 10px 15px;
    font-size: 16px;
    border: 1px solid #CCC;
    /* height: 34px; */
    /* -webkit-appearance: none; */
    -moz-appearance: none;
    /* appearance: none; */
    color: #082943;
    border-radius: 60px;
    width: 100%;
  }
  .validation{
    display: block;
    background-color: red;
    border-radius: 5px;
  }
  .validation .required{
    color: white;
    padding: 3px 4px 3px 5px ;
  }