<div class="">
  <!-- Background of the page -->
  <div class="head-title">
    <div id="back">
      <span class="typcn typcn-arrow-left left" (click)="PreviousPage()"></span>
    </div>
    <h3 id="head">Profile</h3>
    <div>
      <span (click)="showActionSheet(message)" class="typcn typcn-cog-outline" *ngIf="(OptionsShow === true) && (User._id === auth ) "></span>
    </div>
    <!-- <h3> <span class="typcn typcn-arrow-left left" (click)="PreviousPage()"></span>Profile 
      <span class="preference" *ngIf="(OptionsShow === true) && (User._id === auth )then popover "></span>
    </h3> -->
  </div>
  <!-- Content of the page -->
  <div id="profile-head">
    <div id="avatar-panel">
      <img id="avatar" [src]="User.userProfile.avatar" alt="{{User.name}}" srcset="">
      <div id="alias">
        <h1 id="name">{{User.name}}</h1>
        <h6 id="tag">{{User.userTag}}</h6>
        <h6 id="uni">{{User.userProfile.university}}</h6>
      </div>
    </div>
    <div id="bar">
      <div id="info-panel">
        <div id="reps">
          <span>Rep</span>
          <p>{{User.userProfile.rep_points}}</p>
        </div>
        <hr style="margin: 0px;">
        <div class="followers">
          <span id="followers" style="text-align: center;">Followers</span>
          <p>{{User.followers.length}}</p>
        </div>
        <hr style="margin: 0px;">
        <div class="following">
          <span id="following" style="text-align: center;">Following</span>
          <p style="text-align: center;"> {{User.followings.length}} </p>
        </div>
      </div>
      <!-- Add Settings Button Beside -->
      <!-- <span class="typcn typcn-spanner"></span> -->
    </div>
  </div>
  <div id="posts">
    <h3 style="margin-top: 40px; margin-left: 30px;">Posts</h3>
    <div id="post-wrapper">
      <div class="card-wrapper">
        <div *ngFor="let post of Posts">
          <app-card [post]="post"></app-card>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <Modal [(ngModel)]="this.modal.state" [popup]="true" [animationType]="'slide-up'" (onClose)="onClose()">
    <List [renderHeader]="renderHeader" [className]="'popup-list'">
      <ListItem>股票名称</ListItem>
      <ListItem>股票代码</ListItem>
      <ListItem>买入价格</ListItem>
      <ListItem> <div Button [type]="'primary'" (onClick)="onClose('modal2')">买入</div> </ListItem>
    </List>
  </Modal> -->

<!-- <ng-template #popover>
  <div Popover 
  [ngStyle]="{'height': '100%', 'display': 'flex', 'align-items': 'center'}" 
  [mask]="true"
  [showArrow]="true" 
  [overlay]="overlay" 
  [placement]="'bottomRight'" 
  class="typcn typcn-cog-outline"></div>
</ng-template> -->

<!-- <ng-template #popover1>
    <div Popover
          [ngStyle]="{'height': '100%', 'display': 'flex', 'align-items': 'center'}"
          [mask]="true"
          [showArrow]="true"
          [overlay]="editOverlay"
          [placement]="'bottomRight'"
    ></div>
  </ng-template> -->

<!-- <ng-template #overlay>
  <PopoverItem [icon]="icon1" (click)="logOut()">
    <p>Log Out</p>
  </PopoverItem>
  <PopoverItem [icon]="icon2" (click)="changeAvatar()">
    <p>Edit Profile</p>
  </PopoverItem>
</ng-template>

<ng-template #icon1>
  <span class="typcn typcn-arrow-back-outline"></span>
</ng-template>

<ng-template #icon2>
  <span class="typcn typcn-edit"></span>
</ng-template> -->
