<form class="form" #form="ngForm" (ngSubmit)="onSubmit(form.value)">
   <h3 style="margin-bottom: 35px;">Log In</h3>
   <!-- <WhiteSpace></WhiteSpace>
    <WhiteSpace></WhiteSpace> -->
  <div class="wrapper">
    <div class="question">
      <input type="text" name="email" required ngModel/>
      <label>Email</label>
    </div>
    <div class="question">
      <input type="text" name="password" required ngModel/>
      <label>Password</label>
    </div>
  </div>
  <!-- Style the err message -->
  {{errStatement}} 
  <button type="submit" class="ripple">Submit</button>
<WhiteSpace></WhiteSpace>
<WhiteSpace></WhiteSpace>
 <p [routerLink]='["/signUp"]' >Don't have an account ?</p>
</form>
<!-- <ons-navigator swipeable [page]="page"></ons-navigator> -->
