<div class="container">
  <div class="background"></div>
  <!-- Background of the page -->
  <div>
    <!-- head toolbar -->
    <!-- <div class="center head">Home</div> -->
  </div>
  <div class="content">
    <!-- Content of the page -->
    <!-- <PullToRefresh
      [ngStyle]="dtPullToRefreshStyle"
      [(ngModel)]="state.refreshState"
      [endReachedRefresh]="state.endReachedRefresh"
      (onRefresh)="pullToRefresh($event)"
    >
    </PullToRefresh> -->

    <div class="background"></div>
    <div class="content" class="initial-page">
      <div style="text-align: center; margin: 10px">
        <app-card></app-card>
      </div>
    </div>
   <!-- Add Button to go to post-section -->
  </div>
</div>
